// Sample env file
MONGODB_URL = "mongodb+srv://tdeemo307:<yourpassword>@cluster0.izejzoq.mongodb.net"
PORT = 8000
NODE_ENV=development
ACCESS_TOKEN_SECRET = Enter your Sceret Key
ACCESS_TOKEN_EXPIRY =1d